language: python
python:
  - 2.7
  # - 3.6
addons:
  firefox: "49.0.2"
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
install: "pip install -r axe_selenium_python/tests/requirements/tests.txt"
script: pytest axe_selenium_python/tests/test_axe.py
